@import "../vars.css";

.sectionContainer {
	align-items: center;
	background-color: var(--main-light-purple);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.container {
	color: var(--main-lightgrey);
	padding: 2rem 0;
}

.sectionTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.sectionTitle h2 {
	font-size: 3rem;
}

.p {
	text-align: center;
	font-size: 1.3rem;
	width: 90%;
	margin: 0 auto 3rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formInputContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.formInputContainer > * {
	padding: 0.5rem 1rem;
	width: 20rem;
	background-color: var(--main-lightgrey);
}
.formInputContainer > *::placeholder,
.formInputContainer > *::placeholder {
	color: var(--main-dark-purple);
}

.formInputContainer > *,
.submitButton {
	color: var(--main-dark-purple);
	outline: none;
	border: none;
	border-radius: 5px;
	margin: 0.3rem;
}
.submitButton {
	background-color: var(--main-gold);
	padding: 0.7rem 5rem;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}
.submitButton:hover {
	background-color: var(--main-light-purple);
	color: var(--main-gold);
	outline: 2px solid var(--main-gold);
	outline-offset: -1px;
}

@media screen and (max-width: 768px) {
	.sectionTitle {
		flex-direction: row-reverse;
	}
	.sectionTitle h2 {
		font-size: 3rem;
	}
	.p {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
}
@media screen and (max-width: 450px) {
	.sectionTitle h2 {
		font-size: 2rem;
	}
}
