@import "../vars.css";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-width: 32vw;
  background-color: #f9f9f9;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container h2 {
  color: var(--main-blue);
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
