@import "../vars.css";

.section {
  width: 50%;
  font-size: larger;
  padding: 10px;
  color: var(--main-hap-blue);
}

.image {
  width: 100%;
  height: auto;
}

.section * {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .section {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .section {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .section {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .section {
    width: 100%;

    font-size: unset;
  }
}
