@import "../vars.css";

.videoContainer {
  width: 100%;
  position: relative;
}

.videoContainer video {
  z-index: 0;
}

.videoOverlay {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;
}

.videoOverlay img {
  width: 100%;

  height: auto;
}

.donation {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donation h3 {
  color: var(--main-hap-blue);
}

.donation h2 {
  color: var(--main-light-purple);
}


.text {
  font-size: larger;
  color: var(--main-hap-blue);
}

.imagesContainer {
  width: 100%;

  display: grid;

  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
}

.images * {
  margin-right: 1rem;
}

.section {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;
}

.section img {
  margin-left: 1rem;
  margin-top: 1rem;
}

.questions {
  padding: 1rem;

  color: white;

  display: flex;

  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-light-purple);
  
}

.questions a {
  text-decoration: none;
  color: white;
}

.social {
  margin-top: 1rem;

  color: var(--main-hap-blue);
}

.social * {
  margin-right: 10px;

  cursor: pointer;
}

.accordion {
  color: var(--main-hap-blue) !important;
}

.faq {
  width: 50%;
  color: var(--main-hap-blue) !important;

  padding: 10px;
}

.faqHeader {
  color: var(--main-hap-blue);

  margin-bottom: 2rem;

  text-align: center;
}

.sponsors {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;

  margin-top: 2rem;
  margin-bottom: 1rem;

}

.sponsorsHeader {
  color: var(--main-hap-blue);

  text-align: center;
}

.sponsors img {
  width: 100%;

  height: auto;
}

@media (max-width: 1000px) {
  .images {
    display: none;
  }

  .faq {
    width: 70%;
  }

  .sponsors {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .section {
    flex-direction: column;
  }

  .faq {
    width: 80%;
  }

  .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .videoOverlay img {
    width: 300px;
    height: 200px;
  }

  .faq {
    width: 100%;
  }

  .sponsors {
    grid-template-columns: 1fr;
  }
}
