@import "../vars.css";

.bannerContent {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.sectionA {
  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 40vh;

  font-size: 1.4rem;

  text-align: right;

  background-color: #eff2f5;

  padding: 10px;

  width: 100%;
}

.sectionAContent {
  display: flex;

  align-items: center;

  color: var(--main-hap-blue);

  width: 40%;
}

.sectionAContent img {
  margin-left: 1.5rem;

  width: 700px;
}

.sectionB {
  display: flex;

  justify-content: center;

  align-items: center;

  width: 50%;

  padding: 1rem;
}

.sectionBContent {
  width: 40%;
}

.sectionBContent img {
  width: 100%;

  height: auto;
}

.sectionBText {
  font-size: 1.4rem;

  color: var(--main-hap-blue);
}

.sectionB img {
  margin-right: 1rem;

  margin-bottom: 1rem;

  width: 100%;

  height: auto;
}

.sectionC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
  padding: 3rem;

  color: snow;

  background-color: var(--main-light-purple);
}

.analytics {
  text-align: center;

  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  color: white;
}

.analytic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.analyticCircle {
  position: relative;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.39);

  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;

  padding: 2px;
}

.analyticCircle h2 {
  font-size: 3rem;
}

.analyticIcon {
  position: relative;
  bottom: 20px;
}

@media (max-width: 1500px) {
  .sectionAContent {
    width: 60%;
  }

  .sectionB {
    width: 70%;
  }
}

@media (max-width: 1600px) {
  .analytics {
    width: 75%;
  }
}

@media (max-width: 1500px) {
  .analytics {
    width: 90%;
  }

  .analyticCircle {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 1100px) {
  .analytics {
    width: 75%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .analyticCircle {
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 920px) {
  .bannerContent {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .sectionAContent {
    width: 90%;
  }

  .sectionB {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .analytics {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .analytic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .analyticCircle {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 900px) {
  .sectionB {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .sectionAContent {
    text-align: center;
  }

  .sectionAContent img {
    display: none;
  }
}

@media (max-width: 680px) {
  .bannerContent {
    flex-direction: column;
  }

  .bannerContent br {
    display: none;
  }
}
