@import "../vars.css";

.sectionContainer {
	align-items: center;
	background-color: var(--main-lightgrey);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.container {
	color: var(--main-light-purple);

	padding-top: 2rem;

	padding-bottom: 2rem;
}

.socials {
	display: flex;

	justify-content: center;

	margin-top: 1rem;

	padding: 5px;
}

.socials * {
	font-size: 4rem;

	margin-right: 2rem;

	color: snow;

	padding: 10px;

	border-radius: 50%;

	cursor: pointer;

	background-color: var(--main-light-purple);

	margin: 10px;
}
