.container {
  width: 100%;
}

.textContainer {
  width: 50%;

  padding-top: 2rem;

  padding-bottom: 2rem;

  font-size: 1.1rem;
}

.textContainer * {
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .textContainer {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .textContainer {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .textContainer {
    width: 90%;

  }
}

@media (max-width: 400px) {
  .textContainer {
    width: 100%;

    font-size: unset;
  }
}
