.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
}

.contentWrapper {
  display: block;
}

.postContent {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .contentWrapper {
    display: flex;
  }
}
