@import "../vars.css";

.sectionA {
  width: 45%;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 1.1rem;
}

.sectionA img {
  margin-bottom: 1rem;
}

.sectionA p {
  margin-bottom: 1rem;
}

.covidBannerImage {
  width: 100%;
  height: auto;
}

.cardContent {
  text-align: center;

  font-size: larger;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  color: var(--main-hap-blue);
}

.cardContent * {
  margin-bottom: 0.8rem;
}

.cardContentButtons {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.financialSupportNeeded {
  width: 70%;
}

.financialSupportNeededText {
  color: white;
}

@media (max-width: 1200px) {
  .cardContent {
    font-size: smaller;
  }

  .sectionA {
    width: 70%;
  }

  .financialSupportNeeded {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .cardContent {
    font-size: smaller;
  }

  .financialSupportNeeded {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .sectionA {
    width: 95%;
  }

  .financialSupportNeeded {
    width: 100%;
  }
}
