@import "../vars.css";

.cardContent {
  color: var(--main-hap-blue);

  font-size: 1.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.cardContentInner {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 1rem;

}

@media (max-width: 1000px) {
  .cardContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
