@import "../vars.css";

.text {
  font-size: 1.6rem;

  padding: 10px;
  color: var(--main-hap-blue);
}

.faq {
  width: 50%;

  padding: 10px;
}

.faqHeader {
  color: var(--main-hap-blue);

  margin-bottom: 2rem;

  text-align: center;
}

.social {
  margin-top: 1rem;

  color: var(--main-hap-blue);
}

.social * {
  margin-right: 10px;

  cursor: pointer;
}

.actionsContainer {
  display: flex;

  justify-content: center;

  align-items: center;

  height: 15vh;
}

.actions * {
  margin: 0.5em;
}

.accordion {
  color: var(--main-hap-blue) !important;
}

@media (max-width: 1200px) {
  .faq {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .faq {
    width: 70%;
  }

  .text {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .faq {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .faq {
    width: 100%;

    font-size: unset;
  }
}
