@import "../vars.css";

.innerBanner {
  display: flex;
  justify-content: center;
}

.innerBannerText {
  width: 50%;

  margin-right: 1rem;
}

.innerBanner button {
  color: var(--main-hap-blue);

  font-size: 1.2rem;

  background-color: var(--main-gold);

  border: 1px solid var(--main-gold);

  padding: 2rem;
}
.sectionA {
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;

  margin-bottom: 3rem;

  margin-top: 1rem;
}

.sectionA img {
  height: auto;
}

.sectionAText {
  font-size: larger;

  font-weight: bolder;

  width: 30%;
}

.sectionAText * {
  margin-bottom: 1rem;
}

.text {
  font-size: larger;

  width: 55%;

  font-weight: bolder;
}

.text * {
  margin-bottom: 1.5rem;
}

.text h2 {
  font-size: 2.1rem;

  color: var(--main-hap-blue);
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 1700px) {
  .sectionA img {
    display: none;
  }

  .sectionAText {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .innerBanner {
    flex-direction: column;
  }

  .innerBannerText {
    margin-bottom: 2rem;
  }

  .text {
    width: 75%;
  }
}

@media (max-width: 750px) {
  .innerBannerText {
    width: 80%;
  }

  .text,
  .sectionAText {
    width: 85%;
  }

  .text h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  .innerBannerText {
    width: 100%;
  }

  .text,
  .sectionAText {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .innerBanner {
    font-size: unset;
  }
}
