@import "../vars.css";

.video {
    width: 100%;

    object-fit: cover;

    height: 35rem;
}

.videoContainer {
  width: 100%;
  position: relative;
}

.videoContainer video {
  z-index: 0;
}

.videoOverlay {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;
}

.videoOverlay img {
  width: 100%;

  height: auto;
}

.section {
  color: var(--main-hap-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40%;
  text-align: center;
}

.section * {
    margin-bottom: 2rem;
}

@media(max-width: 1400px) {
    .section {
        width: 60%;
    }

    .video {
        height: 30rem;
    }
}

@media(max-width: 830px) {
    .section {
        width: 80%;
    }

    .video {
        height: 25rem;
    }
}

@media(max-width: 500px) {
    .section {
        width: 100%;
    }

    .video {
        height: 20rem;
    }
}