.socialLinks {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	left: 1%;
	position: sticky;
	top: 50%;
	transform: translate(0, -50%);
	width: 50px;
}

.socialLink {
	width: 50px;
}

.facebook {
	color: #4267b2;
}
.youtube {
	color: #c4302b;
}
.instagram {
	color: #8a3ab9;
}
