:root {
  --main-dark-purple: #472d5b;
  --main-light-purple: #8d4982;
  --main-hap-blue: #004477;
  --main-light-blue: #369fff;
  --main-blue: #0063be;
  --main-yellow: #fec357;
  --main-lightgrey: #fafafa;
}
