@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

#donation-form {
  font-family: sans-serif;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #454054;
}

#donation-form label {
  padding-bottom: 0.5rem;
  display: flex;
}

#donation-form .section.contact {
  display: grid;
  grid-template-rows: 1fr;
}

#donation-form input,
select,
textarea {
  border: none;
  background: #eff2f5;
  color: #454054;
  box-shadow: 0 2px 0 0 rgba(39, 54, 68, 0.2) !important;
}

#donation-form input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="number"],
textarea {
  display: grid;
  width: 100%;
  height: 38px;
  margin-bottom: 15px;
  font-size: 22px;
  padding-left: 15px;
}

#donation-form h3 {
  color: #462e5c;
  font-family: sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 40px;
}

#express-submit {
  margin-bottom: 3rem !important;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #fdbe57 !important;
  color: #69440d !important;
  text-transform: uppercase;
  width: 100%;
  display: block;
  font-size: 28px;
  padding: 0;
  box-shadow: 0 2px 0 0 rgba(39, 43, 27, 0.08);
  height: 87px;
  line-height: 87px;
}

#testy {
  width: 94%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

#locations {
  display: grid;
  width: 97.5%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2rem;
}

#test-container {
  width: 65%;
}

@media only screen and (max-width: 850px) {
  #test-container {
    width: 75%;
  }
}

@media only screen and (max-width: 550px) {
  #test-container {
    width: 100%;
  }
  #locations {
    grid-template-columns: 1fr;
  }
}
