footer {
	padding: 3rem 0 1rem;
	background-color: var(--main-dark-purple);
}
.container {
	margin: 0 auto;
	width: 75%;
}
button {
	border: none;
	outline: none;
}

/* UPPER CONTAINER */
.linksContainer {
	display: flex;
	justify-content: space-around;
}
.linkContainer {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
}
.linkContainer h3 {
	color: var(--main-lightgrey);
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}
.links {
	display: flex;
	flex-direction: column;
}
.links a {
	color: var(--main-lightgrey);
	font-size: 0.8rem;
	margin-bottom: 0.4rem;
	text-decoration: none;
}
.links a:hover {
	color: #00a0c6;
	cursor: pointer;
}
.donateButton {
	background-color: var(--main-gold);
	border-radius: 0.2rem;
	color: var(--main-dark-purple);
	padding: 0.5rem 2rem;
}
.donateButton:hover {
	background-color: var(--main-blue);
}

/* LOWER CONTAINER */
.legalsContainer {
	margin: 1rem 0 0;
	position: relative;
}
.lowerLogo {
	color: var(--main-lightgrey);
	width: 22%;
	margin-bottom: 1.5rem;
}
.officeButtonContainer {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.officeButton {
	background-color: var(--main-light-purple);
	border-radius: 0.4rem;
	color: var(--main-lightgrey);
	font-size: 0.7rem;
	padding: 1.1rem 0.8rem;
}
.officeButton:hover {
	background-color: var(--main-blue);
}
.copyright {
	color: var(--main-light-purple);
	font-size: 0.7rem;
	font-weight: bold;
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1281px) {
	/* big landscape tablets, laptops, and desktops */
}
@media only screen and (max-width: 1100px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media only screen and (max-width: 961px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	.container {
		width: 80%;
	}
	.linksContainer {
		flex-wrap: wrap;
	}
	.linkContainer {
		padding-bottom: 1rem;
	}

	.linkContainer h3 {
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
	}
	.links a {
		font-size: 1rem;
		margin-bottom: 0.4rem;
	}

	.lowerLogo {
		width: 40%;
		margin: 0;
	}
	.officeButtonContainer {
		position: initial;
		transform: translateY(0%);
		padding: 1rem;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.officeButton {
		font-size: 1.1rem;
		padding: 1.1rem 2.9rem;
	}
	.copyright {
		font-size: 1.1rem;
		text-align: center;
	}
}
@media only screen and (max-width: 641px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	.linkContainer h3 {
		font-size: 1.3rem;
		margin-bottom: 1.3rem;
	}
	.links a {
		font-size: 0.8rem;
		margin-bottom: 0.3rem;
	}
	.officeButton {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 425px) {
	.container {
		width: 90%;
	}
	.officeButton {
		font-size: 1rem;
		padding: 1.1rem 1.5rem;
	}
}
